@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #fbfbfb;
    overflow: hidden;
}

.t-tab-bar {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1000;
}

.t-tab-bar-item {
    background-color: transparent !important;
}

.markerInner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #3478F6;
    cursor: pointer;
    animation: scale 5s infinite ease-in-out;
    z-index: 1000;
}

.markerOutter {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    z-index: 900;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.markerSpread {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #3478F6;
    z-index: 800;
    opacity: 0;
    animation: scale2 7s infinite;
}

@keyframes scale {
    0% {
        width: 16px;
        height: 16px;
    }

    25% {
        width: 12px;
        height: 12px;
    }

    50% {
        width: 16px;
        height: 16px;
    }

    100% {
        width: 16px;
        height: 16px;
    }
}

@keyframes scale2 {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.2;
    }

    100% {
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}

.maplibregl-control-container {
    display: none;
}